* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; /* Declare font-family once here */
}

/* Header Styles */
#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: sticky;
    padding: 0;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
}

#headerMain {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.8rem;
}

#menuButton {
    font-size: 1.5rem;
    padding: 0.8rem 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
}

#menuButton:hover {
    color: #007BFF; /* Change to your desired hover color */
}

#title {
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
}

.navMenu {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

/* Navigation Styles */
#header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: 500;
}

#header nav ul li a {
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    display: block;
}

#header nav ul li a:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

/* Search Bar Styles */
.searchBar {
    /* height: 1.8rem;  */
    border-radius: 10px;
    margin: 0;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid #ccc;
}

.newTodo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 1rem;
}

.newTodo * {
    font-size: 1rem;
}

#newTodoInput {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 0.5rem 15rem 0.5rem 1rem;
}

#importButton, #addTodoButton {
    height: 2.5rem; /* Adjust the height to match the input field */
    border-radius: 10px;
}

#signoutButton {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}

#signoutButton:hover {
    color: black;
}

.todoContainer {
    display: grid;
    grid-template-columns: repeat(4, 20rem); /* 4 columns with fixed width */
    grid-auto-rows: minmax(16rem, auto); /* Set minimum row height to 16rem */
    gap: 16px;
    justify-content: center;
}

.todocard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todoTitle {
    margin: 0 0 8px 0;
}

.todoItems {
    list-style-type: none;
    padding: 0;
}

.todoItems li {
    margin: 4px 0;
}

#alertWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0
}

#alertWrapper p {
    padding: 0;
    margin: 0;
}