* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: sticky;
    padding: 0;
    z-index: 1000;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid #ccc;
}

.header-main {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.menu-button {
    font-size: 1.5rem;
    padding: 14px 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-button:hover {
    color: #007BFF; /* Change to your desired hover color */
}

.title {
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

/* Navigation Styles */
.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: 500;
}

.header nav ul li a {
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.header nav ul li a:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

/* Search Bar Styles */
.search-bar {
    height: 30px; 
    border-radius: 15px;
    margin: 0;
    font-size: 1rem;
}