/* * {
    border: 1px solid red;
} */

.header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    padding: 0;
    z-index: 1000;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid #ccc;
}

.header > div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
}

.header nav ul li {
    display: inline;
}

.header nav ul li a {
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.header nav ul li a:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.menu-button {
    font-size: 1.5rem;
    padding: 14px 20px;
}

.title {
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu ul {
    margin: 0 10px;
}